body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(images/beach_background.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(35, 77, 65, 0.6);
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

figcaption {
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 20px;
    text-align: center;
    flex: 1;
    color: #ffffff;
    font-size: 20px;
}

h1 {
    padding: 20px;
    text-align: center;
    flex: 1;
    color: #ffffff;
    font-size: 40px;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; /* Set a max-width for better alignment */
    margin: 10px 0;
}

.category img {
    width: 150px;
    height: 100px;
}

.category p {
    margin: 0 15px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    padding: 10px; /* Add some padding for better readability */
    border-radius: 5px; /* Optional: add rounded corners for better aesthetics */
}

.category.left {
    justify-content: flex-start;
    text-align: left;
}

.category.right {
    justify-content: flex-end;
    text-align: right;
}

.main-content {
    text-align: center;
    padding: 20px;
    border: 1px transparent #ccc;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(35, 77, 65, 0.6);
    padding: 10px 20px;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}

.footer-ref {
    text-align: center;
    flex: 1;
    color: #ffffff;
    font-size: 12px;}

.footer-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #ffffff;
}

.footer-info p {
    margin: 5px 0;
}
